DATABASE_URL=postgresql://username:password@your-neon-host/your_db?sslmode=require

REDIS_URL=redis://localhost:6379
REDIS_PORT=6379
PORT=3000
NODE_ENV=development
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
SALT_ROUNDS=12
PRIVATE_KEY_ENCODED=gfkyitutf